
@font-face{
    font-family: OldCyr;
    src: url(../fonts/cyrillic_old.woff) format('woff'), url(../fonts/cyrillic_old.svg#) format('svg'), url(../fonts/cyrillic_old.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Old-Cyrillic {
    font-family: OldCyr;
    font-weight: normal;
    font-style: normal;

}
